/* 부모 블럭 공통 요소 */
#data_wrap,
.contents_box,
.data_icon,
.view_cover {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

/* Main_contents Start */
.main_contents {
    width: 1000px;
    display: inline-block;
    position: relative;
    margin: 30px auto;
}

.left_remote {
    left: -220px;
}

.contents_title {
    font-family: 'Line_B';
    font-size: 26px;
    text-align: left;
}

.data_viewer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.data_viewer p {
    font-family: 'Line_R';
}

.viewer_title {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.data_ment_mini {
    font-size: 16px;
    color: #666;
}

.view_cover {
    margin-bottom: 20px;
}

.view_contents {
    width: 50%;
    display: inline-block;
    background: #7483f5;
    margin: 0 auto;
    border-radius: 15px;
}

.view_contents p {
    width: 50%;
    line-height: 35px;
    margin: 15px auto;
    color: #fff;
    background: #030c72;
    font-size: 18px;
    font-family: 'Line_B';
}

.v_icon_place {
    width: 30%;
    float: left;
    margin-left: 20px;
}

.v_icon_place img {
    width: 70%;
    margin-bottom: 20px;
}

.v_link_place {
    width: calc(70% - 20px);
    float: left;
}

.v_link_place ul {
    width: 100%;
    display: inline-block;
}

.v_link_place ul li {
    width: 80%;
    background: #ff4141;
    margin: 10px auto;
    font-family: 'gm_B';
    color: #fff;
    line-height: 30px;
}

.v_link_place ul li:hover {
    background: #030c72;
}

.v_link_place ul li:first-child {
    margin-top: 0;
}

.v_link_place ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

.contents_box {
    width: 45%;
    margin: 2.5%;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
}

.data_box_title {
    background: #ff4141;
    color: #fff;
    font-family: 'Line_B';
    font-size: 22px;
    line-height: 35px;
    padding-top: 2.5px;
}

.data_list li {
    cursor: pointer;
    transition: 0.3s;
}

.data_list li:not(.data_on):hover {
    background: #23369b;
    color: #fff;
}

.data_list {
    width: 100%;
    display: inline-block;
}

.data_list li {
    float: left;
    line-height: 30px;
    background: #fff;
    font-family: 'Line_B';
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.no_sup .data_list li {
    width: 50%;
}

.yes_sup .data_list li {
    width: 33%;
}

.data_on {
    background: #5571ff !important;
    color: #fff;
}

.data_icon {
    margin: 10px 0 5px;
}

.data_icon:not(.lesson_box) {
    display: none;
}

.icon_part {
    font-family: 'Line_B';
    width: 50%;
    float: left;
}

.supply_box .icon_part {
    width: 100%;
}

.supply_box .icon_part img {
    width: 25%;
}

.icon_part img {
    width: 50%;
}

.same {
    font-family: 'Line_R';
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

/* Main_contents End */

@media all and (max-width: 999px) {
    .main_contents {
        width: 100%;
    }

    .data_viewer {
        width: 100%;
    }

    .view_contents p {
        font-size: 16px;
    }
}

@media all and (max-width: 767px) {
    .contents_title {
        padding-left: 5px;
    }
    
    .view_contents {
        width: 90%;
    }

    .data_ment_mini {
        font-size: 14px;
    }

    .view_contents p {
        font-size: 14px;
    }

    .contents_box {
        width: 80%;
        margin: 2.5% 10%;
    }
}