@font-face {
    font-family: 'gm_M';
    src: url("../font/gmarket_M.ttf");
}

@font-face {
    font-family: 's-core_L';
    src: url("../font/s-core_L.otf");
}

@font-face {
    font-family: 's-core_LB';
    src: url("../font/s-core_LB.otf");
}

/* 부모 블럭 공통 요소 */
#lecture_wrap,
header,
.top_cover,
.bottom_cover,
.essential_line,
.lec_table,
.exam_block,
.result_block,
.event_box,
.img_box {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}


/* Main_contents Start */
.main_contents {
    width: 1000px;
    display: inline-block;
    position: relative;
    margin: 30px auto;
}

.left_remote {
    width: 200px;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: -220px;
}

.left_remote li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #ddd;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transition: 0.75s;
}

.left_remote li:last-child {
    border-bottom: none;
}

.left_remote li a {
    display: block;
    font-family: 's-core_L';
}

.left_remote li:not(.left_aside_title):hover {
    padding-left: 35px;
    background: #132367;
    color: #fff !important;
    font-weight: bold !important;
}

.left_aside_title {
    height: 70px !important;
    line-height: 70px !important;
    background: linear-gradient(45deg, #ff4d4d, transparent) !important;
    font-weight: bold;
    font-size: 20px;
    font-family: 's-core_L';
    color: #fff;
}

.quick_apply {
    animation: quick_effect infinite step-end 1.5s;
}

@keyframes quick_effect {
    0% {
        color: #000;
        font-weight: normal;
    }

    50% {
        color: #f00;
        font-weight: bold;

    }

    100% {
        color: #000;
        font-weight: normal;
    }
}

.recom_board {
    width: 300px;
    float: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.recom_title {
    font-family: 'gm_M';
    font-size: 18px;
    text-align: left;
    padding: 3%;
}

.NH_bar {
    width: 100%;
    display: inline-block;
}

.NH_bar li {
    width: 30%;
    float: left;
    padding: 5px;
    font-family: 's-core_LB';
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.hot_bar {
    width: 70%;
    text-align: left;
    background: #ffc112;
    color: #132367;
}

.new_bar {
    width: 30%;
    text-align: right;
    background: #132367;
    color: #fff;
}

.bar_on {
    width: 70% !important;
    padding: 5px 15px !important;
}

.event_box {
    overflow: hidden;
}

.arrow_btn {
    width: 30px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 9;
}

.left_btn {
    left: 10%;
    transform: translate(-50%, -50%);
}

.right_btn {
    right: 10%;
    transform: translate(50%, -50%);
}

.img_box {
    width: 300%;
    overflow: hidden;
    transition: 1s;
    left: 0%;
}

.img_box li {
    width: calc(100% / 3);
    float: left;
    transition: 1s;
}


.new_box {
    display: none;
}

.lec_box {
    width: 55%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
    margin: 20px auto;
}

.box_logo {
    text-align: center;
}

.box_logo img {
    width: 50%;
}

.box_lec_img {
    width: 85%;
}

.box_lec_name {
    text-align: center;
    font-family: 'gm_M';
    font-weight: bold;
    font-size: 11px;
    line-height: 30px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    color: #132367;
}

/* 필독사항 및 학습자료 Start */
.essential_line {
    margin-bottom: 30px;
}

.essential_data {
    width: 60%;
    float: right;
}

.MR_data {
    width: 300px;
    float: left;
    margin-right: 10%;
    text-align: left;
}

.data_title {
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'gm_M';
    color: #132367;
}

.data_tip {
    font-size: 12px;
    color: #888;
    text-align: center;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'gm_M';
}

.lec_data {
    width: 40%;
    height: 200px;
    float: right;
    position: relative;
}

.lec_data img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 필독 및 학습자료 End */

/* 수강 현황 분류 탭 Start */
.remote_btn {
    width: 100%;
    display: inline-block;
}

.remote_btn ul {
    width: 100%;
    display: inline-block;
    padding: 0;
}

.remote_btn ul li {
    width: calc(100% / 3);
    height: 50px;
    border-bottom: none;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    font-family: 's-core_L';
    transition: 0.3s;
}

.remote_btn_on {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff !important;
    background: #132367;
    color: #fff;
}

.remote_btn_off {
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd !important;
}

.remote_btn_off:hover {
    background: #eee;
    color: #000;
}

/* 수강 현황 분류 탭 End */

/* 과정 블록 탭 Start */

.lec_block {
    width: 45%;
    margin: 2.5%;
    padding: 5px 0;
    float: left;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    font-family: 's-core_L';
}

.block_line {
    width: 100%;
    display: inline-block;
}

.block_line_2 {
    border-bottom: 1px solid #ddd;
}

.lec_title {
    float: left;
    margin: 15px 10px 10px;
    font-weight: bold;
    font-size: 16px;
}

.lec_state {
    border-radius: 15px;
    color: #fff;
    padding: 0.5% 1.5%;
    font-size: 14px;
    float: left;
    margin-top: 16px;
}

.state_1 {
    background: #a476fd
}

.state_2 {
    background: #00f;
}

.state_3 {
    background: #6a6a6a;
}

.state_4 {
    background: #ff4c4c;
}

.right_1 {
    width: 30%;
    float: right;
    text-align: right;
    font-size: 15px;
    line-height: 25px;
    padding-right: 10px;
    font-family: 's-core_LB';
}

.date {
    float: left;
    margin: 0 12px 5px;
    line-height: 45px;
    font-weight: bold;
    font-size: 13px;
}

.app_date {
    color: #666;
}

.lec_date {
    color: #666;
}

.exam_date {
    margin: 0 12px;
    line-height: 50px;
}

.exam_on {
    /* 시험기간일 경우 */
    color: #ff3030;
}

.exam_off {
    /* 시험기간이 아닐 경우 */
    color: #666;
}

.block_btn {
    padding: 5px;
    float: right;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 's-core_L';
    cursor: pointer;
}

.lec_btn_on {
    background: #4095ff;
    color: #fff;
}

.lec_btn_off {
    background: #a3a3a3;
    color: #fff;
}

.repeat_btn {
    background: #a476fd;
    color: #fff;
}

.exam_btn_on {
    background: #ff3030;
    color: #fff;
}

.exam_btn_off {
    background: #a3a3a3;
    color: #fff;
}

.app_btn {
    /* display: none; */
    animation: twink_effect infinite step-end 1.5s;
}

.Nprepared {
    font-size: 12px;
    margin: 0 12px 5px;
    text-align: left;
    float: left;
    color: #888;
}

.result_title {
    width: 30%;
    padding-left: 10px;
    text-align: left;
    float: left;
}

.result_trigger {
    width: 70%;
    float: left;
}

.result_trigger input {
    width: 40%;
    line-height: 30px;
    margin: 1%;
    float: right;
    border: none;
    outline: none;
    color: #fff;
    font-family: 's-core_L';
    cursor: pointer;
}

.result_on {
    background: #6b69f5;
}

.result_off {
    background: #9b9b9b;
}

@keyframes twink_effect {
    0% {
        background: #f00;
        color: #fff;
    }

    50% {
        background: #fff;
        color: #f00;
    }

    100% {
        background: #f00;
        color: #fff;
    }
}

/* 과정 블록 탭 End /*


/* Main_contents End */

@media all and (max-width: 1023px) {
    .head_top {
        width: 100%;
    }

    .main_contents {
        width: 100%;
    }

    .essential_data {
        width: 100%;
    }

    .left_remote {
        display: none;
    }

    .member_data {
        position: absolute;
        top: 0;
        right: 0;
    }

    .recom_board {
        width: 100%;
    }

    .box_lec_name {
        font-size: 16px;
    }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
    .essential_data {
        margin-top: 20px;
    }

    .essential_data>div {
        width: 45%;
        margin: 2.5%;
    }
}

@media all and (max-width: 767px) {
    .lec_block {
        width: 100%;
        margin: 2% 0;
    }

    .member_data {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
    }

    nav ul li {
        margin: 0;
        width: 50%;
    }

    .remote_btn ul li {
        font-size: 15px;
    }

    .MR_data {
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }

    .lec_data {
        width: 100%;
    }

    .lec_data img {
        width: 70%;
    }

    .box_lec_name {
        font-size: 14px;
    }
}

@media all and (max-width:320px) {
    .right_1 {
        width: 25%;
        font-size: 12px;
        padding-right: 5px;
    }
}