* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
ul, li, ol {
    list-style: none;
}
a {
	text-decoration: none;
}
a:link,
a:visited,
a:active { 
    color: inherit;
}

@font-face {
    font-family: 'gm_M';
    src: url("../font/gmarket_M.ttf");
}

@font-face {
    font-family: 'gm_B';
    src: url("../font/gmarket_B.ttf");
}

@font-face {
    font-family: 's-core_L';
    src: url("../font/s-core_L.otf");
}

@font-face {
    font-family: 's-core_LB';
    src: url("../font/s-core_LB.otf");
}
@font-face {
    font-family: 'Line_B';
    src: url("../font/Line_B.ttf");
}
@font-face {
    font-family: 'Line_R';
    src: url("../font/Line_R.ttf");
}
@font-face {
    font-family: 'Line_T';
    src: url("../font/Line_T.ttf");
}